@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2px;
        padding-top: 20px;

    }

    .header_title {
        font-size: 5px;
        word-spacing: 0%;
        display: none;

    }

}

@media only screen and(max-width: 768) and (min-width:576) {
    h1 {
        padding-top: 50px;
    }

    .header_title {
        font-size: 2px;
        word-spacing: 0%;
        display: none;
    }


}